.slidePopupVessel {
  display: flex;
  flex-flow: row wrap;
}
.rows1 .cachePic {
  height: 100vh;
}
.rows2 .cachePic {
  height: 50vh;
}
.rows3 .cachePic {
  height: 33.33333333333333vh;
}
.rows4 .cachePic {
  height: 25vh;
}
.rows5 .cachePic {
  height: 20vh;
}
.rows6 .cachePic {
  height: 16.66666666666666vh;
}
.rows7 .cachePic {
  height: 14.28571428571428vh;
}
.rows8 .cachePic {
  height: 12.5vh;
}
.rows9 .cachePic {
  height: 11.11111111111111vh;
}
.rows10 .cachePic {
  height: 10vh;
}
.slideDimensionsControls {
  position: fixed;
  right: 0.5em;
  bottom: 0.5em;
  font-size: 1.4em;
  border-radius: 0.3em;
  background-color: rgba(255, 255, 255, 0.25);
  opacity: 0.25;
  transition: opacity 200ms ease-in;
}
.slideDimensionsControls:hover {
  opacity: 1;
}
.SDC__row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.SDC__row > * {
  flex: 1 0 auto;
}
.SDC__active {
  padding: 0 .25em;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 200ms ease-in;
}
.SDC__active:hover {
  background-color: rgba(255, 255, 255, .25);
}
.slideDimensionsControls em {
  font-style: normal;
}
