body {
  margin: 0;
  overflow: hidden;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

code,
.debug,
.editConfig input {
  font-family: Andale Mono, AndaleMono, monospace;
}

#root {
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: #46464d;
  user-select: none;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

.hide.hide {
  display: none;
}

.picContain {
  position: relative;
  display: block;
  width: 100vw;
  height: 100vh;
}

.pic {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  text-align: center;
  color: #fff;
}

.cachePic {
  cursor: pointer;
}

.image {
  background-color: #393535;
}

.video {
  background-color: #1d1b1b;
}

.picsGallery {
  display: flex;
  flex-flow: row wrap;
}

.picsGallery .picContain {
  flex: 0 1 auto;
  height: 25vh;
}

.picsGallery .picContain:last-child {
  display: none;
}

.picsGallery .currentPic {
  flex: 1 0 auto;
  width: 100vw;
  height: 75vh;
}

.loading,
.error {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.loading {
  font-size: 6em;
  background-color: #29408488;
}
.loadingIcon {
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  line-height: 1;
  transform-origin: 50% 34%;
}
.loadingIcon {
  animation-name: rotate;
}

.next-loading {
  position: fixed;
  top: 18vh;
  right: -8vh;
  padding: .25em 1em;
  font-size: 5vh;
  color: rgba(0, 0, 0, .5);
  font-weight: bold;
  transform: rotate(-90deg);
  transform-origin: 100% 100%;
  transition: right ease-in 50ms;
}

.next-loading--isLoading {
  right: 0;
}

.error {
  background-color: #5c383f;
  color: #fff;
  font-size: 2em;
  line-height: 1.4;
  padding: 2em;
}

.cachePic .error {
  font-size: 1em;
}

.backwards,
.forwards {
  position: fixed;
  top: 0;
  bottom: 2em;
  width: 12vw;
  cursor: pointer;
  z-index: 50;
}

.backwards {
  left: 0;
}

.forwards {
  right: 0;
}

.galleryMode .backwards,
.galleryMode .forwards {
  bottom: 25vh;
}

.isFirst .backwards,
.isLast .forwards {
  background-color: rgba(0, 0, 0, .2);
  width: 10vw;
  cursor: auto;
}

.counter {
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  top: 0;
  right: 0;
  padding: .4em .25em;
  font-size: 2em;
  font-weight: 900;
  color: rgba(0, 0, 0, .25);
  z-index: 60;
}

.counter--last {
  text-shadow: 0 0 0.1em yellow, 0 0 0.6em yellow;
  color: #444;
}

.counter__current__edit__input {
  display: block;
  background-color: #ffffff40;
  font-size: 1em;
  width: 5em;
  text-align: right;
}

.counter__total {
  margin: 0 0 0 .4em;
}

.counter__total::before {
  content: ' / '
}

.autoAdvanceDelayTip {
  position: absolute;
  top: 3.2rem;
  right: 0;
  padding: .4em .25em;
  font-size: 2em;
  font-weight: 900;
  color: rgba(0, 0, 0, .25);
  opacity: 0;
}

.animateAADT {
  animation-name: appear;
  animation-duration: 1500ms;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
}

.keyboardOverlay {
  position: absolute;
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 1em;
  z-index: 80;
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.keyboardOverlay:hover {
  opacity: 1;
}

.key {
  width: 54px;
  height: 48px;
  margin: 3px;
  position: relative;
  list-style-type: none;
  background-color: rgba(0, 0, 0, .2);
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.keyLabel {
  position: absolute;
  top: 10px;
  left: 14px;
}

.keyHint {
  position: absolute;
  right: 4px;
  bottom: 2px;
}

.keyboardOverlay__row {
  display: flex;
  flex-flow: row nowrap;
}

.imageZoom {
  object-fit: cover;
}

.globalVolume {
  width: 10vw;
  position: fixed;
  bottom: 3rem;
  right: 1vw;
  z-index: 100;
  transition: opacity 500ms ease-in;
  opacity: 0;
}

.globalVolume:hover {
  opacity: 1;
}

.videoGlass {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  cursor: pointer;
}

.currentPic .videoGlass {
  display: none;
}

.metaData {
  position: absolute;
  right: 0;
  bottom: 3rem;
  font-size: 2em;
  line-height: 1.4;
  text-align: right;
  color: #fff;
  text-shadow: .05em .05em 0 rgba(0, 0, 0, .2), 0 0 1em rgba(0, 0, 0, .25);
  background-color: rgba(0, 0, 0, .2);
  padding: .5em .8em;
  border-radius: .2em 0 0 .2em;
  opacity: 1;
  transition: opacity 500ms ease-in;
  font-weight: 100;
  user-select: text;
  z-index: 99;
}

.galleryMode .metaData {
  bottom: auto;
  top: 3.2rem;
}

.debug {
  position: absolute;
  color: green;
  top: 1em;
  left: 1em;
  font-size: 2.7em;
  white-space: pre;
  text-shadow: 1px 1px 0 black;
}

.editConfig {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, .75);
}

.EC__wrap {
  display: flex;
  flex-flow: row nowrap;
}

.editConfig input {
  font-size: 2rem;
}

.EC__alert {
  color: #fff;
  background-color: rgba(0, 0, 0, .5);
  margin: 1em 0 0 0;
  font-weight: normal;
  padding: .5em 1em;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(359deg)
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  70% {
    opacity: 1;
    top: 3.2rem;
  }
  100% {
    opacity: 0;
    top: 5rem;
  }
}
